.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 538px;
    height: 81px;
    left: 64px;
    top: 64px;
}

.logo {
    position: static;
    width: 163px;
    height: 81px;
    left: 0px;
    top: 0px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 48px 0px 0px;
}

span {
    position: static;
    width: 279px;
    height: 21px;
    left: 0px;
    top: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #45505E;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
}

p {
    position: static;
    width: 327px;
    height: 16px;
    left: 0px;
    top: 29px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #8C9CAD;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
}