.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 305px;
    height: 304px;
    left: 64px;
    top: 250px;

}

.buttonBack {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;

    position: static;
    width: 120px;
    height: 56px;
    left: 0px;
    top: 0px;

    /* Blacks & Greys/White */

    background: #FFFFFF;
    /* Blacks & Greys/mediumGray3 */

    border: 1px solid #D7E0EB;
    box-sizing: border-box;
    /* dp-shadow/small */

    box-shadow: 0px 8px 4px rgba(13, 17, 27, 0.08);
    border-radius: 8px;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px;
}

.buttonText {

    width: 48px;
    height: 24px;
    left: 56px;
    top: 16px;

    /* Body/normal600 */

    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* Blacks & Greys/darkGray */

    color: #2E3742;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px 0px 16px;
}

.resultBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 305px;
    height: 120px;
    left: 0px;
    top: 88px;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 32px 0px 0px 0px
}

.resultDescription {
    position: static;
    width: 228px;
    height: 32px;
    left: 0px;
    top: 0px;

    /* Heading/Medium600 */

    font-family: Sharon Sans;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */

    display: flex;
    align-items: center;

    /* Blacks & Greys/darkGray2 */

    color: #45505E;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
}

.result {
    position: static;
    width: 305px;
    height: 80px;
    left: 0px;
    top: 40px;

    /* Display/xxxLarge600 */

    font-family: Roboto;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    /* identical to box height, or 125% */

    display: flex;
    align-items: center;

    /* Brand Colors/stoneGreen */

    color: #00AB63;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
}

.descriptionBlock {
    position: static;
    width: 305px;
    height: 80px;
    left: 0px;
    top: 40px;

    /* Display/xxxLarge600 */

    font-family: Sharon Sans;
    font-size: 64px;
    line-height: 80px;
    /* identical to box height, or 125% */

    display: flex;    
    align-items: center;

    /* Brand Colors/stoneGreen */

    color: #00AB63;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 32px 0px 0px 0px;
}

.descriptionBlock p {
    position: static;
    width: 217px;
    height: 64px;
    left: 0px;
    top: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    /* or 229% */


    /* Blacks & Greys/mediumGray */

    color: #6E7E90;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
}