* {
  margin: 0;
  padding: 0;
}
.App {
  position: relative;
  width: 100vw;
  height: 100vh;

  /* background-image: url('images/bg.png'), url('images/graph.png');     */
  background-origin: border-box, border-box;
  background-attachment: fixed, fixed;
  background-position: left -1px top -7.54px , left 859px top 236px;
  
  background-repeat: no-repeat, no-repeat;
  background-size: 1442px 1031.54px, 310px 310px;                         
  
  box-shadow: 0px -20px 40px rgba(0, 0, 0, 0.08);

}

